body, html{
    padding: 0;
    margin: 0;
    background-color: black;
}

.container{
height:100vh;
width: auto;
background : black;
color: white;
display: flex;
justify-content: center;
align-items: center;
}


.player_container{
    display: flex;
    flex-direction: column;
    margin: 10px;
}


.player_block1{
    background-color: red;
    height:200px;
    width :400px;
}

.player_block2{
    background-color: blue;
    height:200px;
    width :400px;
}



.theBoard1, .theBoard2{
    border: 2px solid black;  
    height: 400px;
    width: 400px;
}
.theBoard1 > div,
.theBoard2 > div{
    display: flex;
    height: 10%;
}

.theBoard1 > div > *,
.theBoard2 > div > *{

    width: 10%;
    background-color: rgb(164, 238, 201);

}

.main_form{
    background-color: rgb(74, 125, 236);
    color: white;
    height: 220px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px dashed white;
    align-items: center;
    gap: 5px;
    position: absolute;
    z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input1:required,
input2:required{
    border: 1px red solid;
}



.start_screen{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: auto;
    height: 100vh;

}

.start_btn{
    height: 10vh;
    width: 50vh;
    font-size: 50px;
    margin-top: 500px;
    z-index: 1;
}

.screen_background{
    height: 100%;
    width: auto;
    position:absolute;
}



.end_screen{
    background-color: rgb(255, 255, 255);
    position: absolute;
    height: auto;
    width: 70vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.end_game_btn{
    height: 5vh;
    width: 30vh;
    font-size: 25px;
    border-radius:80% ;
}